# Partition Table
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"

# GPIO
CONFIG_LED_GPIO=2
CONFIG_PUSH_BUTTON_GPIO=22

# Radio communication
CONFIG_RADIO_COMM_CHANNEL=1
CONFIG_RADIO_COMM_QUEUE_SIZE=6
CONFIG_RADIO_COMM_MAGIC_NUMBER=0xABDC
CONFIG_RADIO_COMM_PMK=pmk1234567890123
CONFIG_RADIO_COMM_LMK=lmk1234567890123
